html {
	height: 100vh;
}
body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Roboto', 'Segoe UI', 'Oxygen',
		'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}

#logoBox {
	background: url('/Logo Kubamática.png') top no-repeat;
	background-size: contain;
	width: 50%;
	height: 200px;
	position: absolute;
	top: 50px;
	left: 25%;
}

.login-button:hover {
	box-shadow: 0 4px 6px 1px gray;
}

.button-link {
	background-color: rgba(1, 1, 27, 0);
	color: #000814;
	position: fixed;
	bottom: 10px;
	left: 85%;
	font-weight: bold !important;
}

.button-link:hover {
	box-shadow: 0 2px 6px 1px !important;
}
.cancel {
	color: red !important;
	font-weight: bold !important;
}

.cancel:hover {
	box-shadow: 0 4px 6px 1px gray;
}

.confirm {
	color: #080cfbce !important;
	font-weight: bold !important;
}

.confirm:hover {
	box-shadow: 0 4px 6px 1px gray;
}

.cancel,
.confirm {
	width: 45%;
}

#brand-logo {
	width: 5rem;
	height: 2rem;
}

#img-logo {
	width: inherit;
	height: inherit;
}

.mainh1 {
	margin-top: 150px;
}
