.search {
	position: relative;
	width: auto;
}

.search input {
	border-radius: 5px;
	border: none;
	padding: 0.3rem 0.5rem;
	padding-left: 2rem;
	background: lightgray;
	width: 100%;
	color: rgb(99, 99, 99);
}

.search input:hover {
	background: rgb(173, 173, 173);
}

.search input:focus {
	outline: none;
}

.search svg {
	position: absolute;
	left: 2%;
	top: 11%;
	color: gray;
	background: inherit;
}
